sentencepiece
datasets
transformers
torch
snakemake
matplotlib
numpy
pandas
accelerate
ipython
ipdb
evaluate
scikit-learn
sacrebleu
snakemake-executor-plugin-slurm
openai
tqdm
scipy
evaluate
simalign
tiktoken
google-genai